# --- Datafiler ---
*.csv
*.tsv
*.xlsx
*.xls
*.ods

# Virtual environment
.venv/
.ipynb_checkpoints/
*-checkpoint.ipynb

kameo/*.csv
kameo/*.xlsx

# --- OS / Editor ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Bygg/avhengigheter ---
node_modules/
dist/
build/

# --- Diverse ---
*.log
.env
.env.local
